<h1>Edit Blogpost</h1>

<!--<%= render 'layouts/tinymce_config' %>-->

<%= form_for(@blogpost) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content, class: "wysihtml5" %>
	</div>
	<div class="actions">
		<%= f.submit "Update", class: "btn btn-large btn-primary" %>
	</div>
<% end %>