<h1>Edit Blogpost</h1>

<%= render 'layouts/tinymce_config' %>

<%= form_for(@blogpost) do |f| %>
	<%= f.error_messages %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>