%h1= @user.name
- if @user.show_email
  .lable Email:
  = mail_to @user.email, nil, encode: 'javascript'
%h2 Events

%ul.events
  - @user.events.each do |event|
    %li.event
      - if user_signed_in? and @user == current_user
        %span.attend-button= link_to "Unattend", "/events/unattend/#{event.id}", class: "btn btn-warning btn-medium"
      .title= link_to event.title, event
      .date= event.date_occurred