%h1= @event.title
.event
  .date
    - if @event.date_occurred >= Date.today
      = "Occurring: " + @event.date_occurred.strftime("%m/%d/%Y")
    - else
      = "Occurred: " + @event.date_occurred.strftime("%m/%d/%Y")
  %h2 Event Description
  .description= @event.description

.attendees
  %h2 Attendees
  - if user_signed_in? 
    - if !current_user.events.include?(@event)
      #attend-button.right= link_to 'Attend', "attend/#{params[:id]}", class: 'btn btn-large btn-primary'
    - else
      #attend-button.right= link_to 'Unattend', "unattend/#{params[:id]}", class: 'btn btn-large btn-warning'
  %ul
    - @event.users.each do |u|
      %li= link_to u.name, u
