.row-fluid
  .span2
    %ul.nav.nav-stacked.nav-tabs.sidebak
      %li= link_to "Wiki Index", wikipages_path
      %li= link_to "New Wikipage", new_wikipage_path
      %li.active= link_to "Current Page", @wikipage
      %li= link_to "Edit", new_wikipage_wiki_revision_path(@wikipage)

  .span10
    .form
      = form_tag wikipage_wiki_revisions_path, method: :post do
        = label_tag :content
        = text_area_tag :content, @latest_revision.content, class: "wysihtml5"

        = submit_tag "Edit", class: 'btn btn-info btn-medium'
