<div id="header">
	<% banner = image_tag("hkn-banner.png", :class => "banner") %>
	<%= link_to banner, root_path %>
	
	<ul class="navigation">
		<li><%= link_to 'Home', root_path %></li>
		<li>&nbsp|&nbsp</li>
		<li><%= link_to 'About', about_path %></li>
		<li>&nbsp|&nbsp</li>
		<li><%= link_to 'Events', events_path %></li>
		<li>&nbsp|&nbsp</li>
		<li><%= link_to 'Corporate Relations', corporate_path %></li>
		<li>&nbsp|&nbsp</li>
		<li><%= link_to 'Officers', officers_path %></li>
		<li>&nbsp|&nbsp</li>
		<li><%= link_to 'Contact Us', contact_path %>
		<li>&nbsp|&nbsp</li>
		<li><%= link_to 'Log in', '#' %></li>
	</ul>

</div>