<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
		<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
		<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
		
		<%= stylesheet_link_tag 'hkn-core', :media => 'screen' %>
  </head>
  <body>
		<div class="container">
			
			<div id="header">
				<%= image_tag("hkn-banner.png", :class => "banner") %>
			</div>
			
			<div id="content">
				<%= yield %>
			</div>
			
			<div id="footer">
				<div class="footer_info">
					777 Atlantic Avenue&nbsp|&nbspAtlanta, GA 30332-0250&nbsp|&nbspVan Leer C444&nbsp|&nbsp (404) 385-0935
				</div>
			</div>
			
		</div>
  </body>
</html>